/*
* bearbeitet von: Anna-Lisa Merkel
*/


/* css of documentation */

.documentation-list-details li {
    list-style-type: square;
}

.file-structure-pictures img {
    height: auto;
    width: 150px;
    margin: 10px;
}

.research-pictures img {
    height: 230px;
    width: auto;
    margin: 5px;
}

.database-picture img {
    height: 600px;
    width: auto;
}

.design-pictures img {
    height: 350px;
    width: auto;
}